<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/bootstrap-rtl.css" />
        <title>page not found</title>
    </head>
    <body>
        <div class="text-center">
            <h1 class="font-weight-bold">404</h1>
            <hr />
            <a href="/" class="btn btn-outline-primary font-weight-bold">برگشت به صحفه اصلی </a>
        </div>
    </body>
</html>
